  <div class="main-body">
      <div class="row mt-2 mb-2 flex-row-reverse">
      <div id="navSearchAdmin" class="form-inline">
        <div class="input-group rounded">
          <input
            type="search"
            id="searchAdmin"
            class="form-control rounded"
            placeholder="Išči"
          />
          <button class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
  </div>