<div class="input-group w-75 w-md-100 float-end">
  <input id="search" type="search" class="form-control end-0" placeholder="Išči" />
  <button class="border-0 bg-transparent" onclick="search()">
    <i class="fas fa-search ms-2 end-0"></i>
  </button>
</div>