<select id="sortBy" class="form-select form-control w-75 w-md-100" onchange="sortBy({{json user}})">
  <option value = "0" selected>Razvrsti po</option>
  <option value="title">A-Ž</option>
  <option value="-title">Ž-A</option>
  <option value="-date">Datum padajoče</option>
  <option value="date">Datum naraščajoče</option>
</select>