
<div class="container mt-3">
  <div class="row m-0">
    {{> sidenav}}

    <div class="col-lg-9 col-md-12 text-md-center">
      <div class="row">
        {{> event_details}}
      </div>
    </div>

    {{> footer}}
  </div>
</div>