<div class="container mt-3">
  <div class="row m-0">
    <div class="col col-8 flex-fill text-md-center">
      <div class="row">
        {{> event_details}}
      </div>
    </div>
    {{> footer}}
  </div>
</div>