<app-home-navbar></app-home-navbar>

<!-- slike -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-interval="false">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/images/cover5.jpg" class="d-block w-100 img-fluid" alt="Slika druženja">
        </div>
        <div class="carousel-item">
            <img src="assets/images/cover3.jpg" class="d-block w-100 img-fluid" alt="Slika sporta">
        </div>
        <div class="carousel-item">
            <img src="assets/images/cover4.jpg" class="d-block w-100 img-fluid" alt="Slika filma">
        </div>
        <div class="carousel-item">
            <img src="assets/images/cover1.jpg" class="d-block w-100 img-fluid" alt="Slika namiznih iger">
        </div>
        <div class="carousel-item">
            <img src="assets/images/cover2.jpg" class="d-block w-100 img-fluid" alt="Slika učenja">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div id="kategorije"></div>
</div>

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">

        <!-- first column -->
        <div class="col-lg-4">
            <img src="assets/images/meetIcon.png" class="img-fluid" alt="meetIcon" />

            <h2>Druženja</h2>
            <p>
                Udeleži se družabnih dogodkov s prijatelji in znanci, ter ustvari nove spomine.
            </p>
            <p><a class="btn btn-primary" (click)="scroll(featureSport)">Preberi več &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <!-- second column -->
        <div class="col-lg-4">
            <img src="assets/images/sportIcon.png" class="img-fluid" alt="sportIcon" />

            <h2>Šport</h2>
            <p>
                Tekmuj v ekipnih in posameznih športih in se pridobi slavo in čast.
            </p>
            <p><a class="btn btn-primary" (click)="scroll(featureFilm)">Preberi več &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <!-- third column -->
        <div class="col-lg-4">
            <img src="assets/images/movieIcon.png" class="img-fluid" alt="movieIcon" />

            <h2>Filmi</h2>
            <p>
                Privoščite si večer gledanja celovečernih filmov v dobri družbi.
            </p>
            <p><a class="btn btn-primary" (click)="scroll(featureFilm)">Preberi več &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div id="featureDruzenja"></div>

    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Poišči in ustvari dogodek
            </h2>
            <p class="lead mt-4">
                Se dolgočasiš in ne veš kaj bi počel? Poišči dogodek in se ga udeleži, če pa se v
                nobenem ne najdes, ga ustvari kar sam!
            </p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/calendar.png" class="img-fluid" alt="calendarPicture" />
        </div>

    </div>

    <hr class="featurette-divider">

    <div class="row featurette " #featureSport>
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">
                Te zanimajo zabave in dogodki?
            </h2>
            <p class="lead mt-4">
                Pridruži se druženjem po celi Sloveniji in ustvari nove veze in poznanstva.
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="assets/images/masks.png" class="img-fluid" alt="movieIcon" />

        </div>

    </div>

    <hr class="featurette-divider">

    <div #featureFilm class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Kaj pa šport in ogledi filmov?

            </h2>
            <p class="lead mt-4">
                Mogoče pa zabave niso tvoja stvar, si pa zelo tekmovalen in se rad
                ukvarjaš s športom ali pa uživaš v gledanju celovečernih filmov.
            </p>
        </div>
        <div class="col-md-5">
            <img src="assets/images/events/sports.png" class="img-fluid" alt="movieIcon" />

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">

        <div class="col-md-12 ">
            <h2 class="featurette-heading mt-2 " style="text-align: center;
            line-height: 100px;">Aktualni dogodki</h2>

            <div>
                <div>
                    <div style="display: block">
                        <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->