<div class="container mt-3">
    <div class="row m-0">
        <div class="nav nav-pills col-lg-3 col-md-12 flex-column m-0 mb-3 p-0 pe-lg-2">
            <app-dogodki-sidenav [selectedPage]="'joined'"></app-dogodki-sidenav>
        </div>

        <div *ngIf="dogodki; else noContent" class="col-lg-9 col-md-12">
            <app-seznam-dogodkov [dogodki]="dogodki" [page]="'joined'" [totalEvents]="totalEvents" [pageSize]="pageSize"></app-seznam-dogodkov>
        </div>
        <ng-template #noContent  class="col-lg-9 col-md-12">
        </ng-template>

        <div class="nav m-3">
            <a routerLink="/ustvari_dogodek" class="nav-link link-dark add-event-float">
                <div class="far fa-calendar-plus"></div>
                <div class="">Dodaj dogodek</div>
            </a>
        </div>
    </div>
</div>